/** 
  * The polish.css files contains all
  * design information about a project.
  * It can be adjusted for specific devices
  * or device groups by putting it in the 
  * appropriate sub-folder.
  * If you want to adjust a design for all
  * Nokia devices, define it in "resources/Nokia/polish.css"
  * and so on. Only new and different settings
  * need to be specified in such polish.css files. 
  */

/**
  * the colors which are defined in
  * the colors section can later be referenced.
  * This makes changes easy, since the color
  * just needs to be changed in one position.
  * Even default colors (like blue, green, lime, etc)
  * can be changed here. 
  */
colors {
	bgColor:  rgb(0,10,25);
	brightBgColor:  rgb(0,25,50);
	evenBrightColor: rgb(10,45,65);
	translucentBgColor:  argb(130, 165,190,247);
	darkTranslucentBgColor:  argb(100, 145,175,247);
	/* Font Colors*/
	titleFontColor: rgb(60,150,75);
	fontColor: rgb( 66, 85, 148 );
	brightFontColor: white; 
	translucentFontColor:  argb(130, 165,190,247);
	translucentBrightFontColor:  argb(150, 175,210,247);
	
	maskColor: red;
	splitTop: brightBgColor;
	splitBot: bgColor;
}

backgrounds {
	snowflakes {
		type: snowflakes;
		color: transparent;
		flake-color: white;
	}

	titleGradient {
		type: vertical-gradient;
		top-color: splitTop;
		bottom-color: splitBot;
	}
	
	tableSelection {
		color: #ffc;
	}
	
	alertTop {
		type: round-rect;
		color: #fff;
	}
	
	alertBg {
		type: round-rect;
		color: #a333;
	}
	
	alertOverlay {
		color: #9fff;
	}
}


/**
  * The title style is a predefined style which is used
  * for all screen-titles.
  */
title {
	padding: 2;
	font-face: proportional;
	font-size: normal;
	font-style: bold;
	font-color: titleFontColor;
	border: none;
	layout: horizontal-center | horizontal-expand;
	background: titleGradient;
}

/**
  * The focused style is a predefined style which
  * is used by lists, forms, choice-groups and so on.
  * This style will be used for highlighting the currently
  * focused item.
  */
focused {
	padding: 5;
	background {
		type: round-rect;
		arc: 8;
		color: brightBgColor;
		border-color: fontColor;
		border-width: 2;
	}
	font {
		style: bold;
		color: fontColor;
		size: small;
	}
	layout: expand | center;	
}

/** 
  * The .mainScreen style is a static style, which
  * is set in the MIDlet source-code with the //#style directive.
  * If the source-code would not have defined this
  * style, we could use the dynamic style "list" to design all
  * list-screens. 
  */
.mainScreen {
	padding: 2;
	padding-left: 10;
	padding-right: 10;
	layout: horizontal-expand | horizontal-center | vertical-center;
	background {
		type: vertical-gradient;
		top-color: splitTop;
		bottom-color: splitBot;
	}
}

/**
  * The .mainCommand style is also a static style, which
  * is set in the MIDlet source-code with the //#style directive.
  * If the source-code would not have defined this
  * style, we could use the dynamic style "listitem" to design all
  * items on the list-screens. 
  * An interesting attribute is the "icon-image" URL, which uses
  * the %INDEX% keyword. The first list-item will use the image
  * "icon0.png", the second "icon1.png" and so on. 
  */
.mainCommand {
	padding: 0;
	padding-vertical: 5;
	/*
	icon-image: url( iconlarge%INDEX%.png );
	icon-image-align: top;
	*/
	layout: center | vertical-center | newline-after;
	min-height: 30%;
}

.mainCommand:hover {
	font-style: bold;
	font-size: small;
	font-color: fontColor;
	text-effect: shadow;
}

.mainCommand:pressed {
	background-color: bgColor;
	font-color: fontColor;
	view-type: particle;
}



.messageAlert {
	padding: 20px;
	padding-top: 1px;
	view-type: none;
	layout: horizontal-shrink | vertical-shrink | horizontal-center | vertical-center;
	background {
		type: layer;
		layers: alertTop, alertBg;
		margins: 10px, 0px;
	}
	repaint-previous-screen: true;
	overlay-background: alertOverlay;
	title-style: messageAlertTitle;
	menubar-style: messageAlertMenuBar;
	//#if polish.midp2
		screen-change-animation: fade;
	//#else
		screen-change-animation: right;
	//#endif
}

.messageAlertTitle {
	padding-top: 20px;
	font-color: fontColor;
	font-style: bold;
	font-size: normal;
}

.messageAlertMenuBar {
	background-color: fontColor;
}

alertcontent {
	font-color: fontColor;
	font-size: small;
	font-style: bold;
	text-effect: shadow;
}

.input {
	margin: 1;
	background-color: bgColor;
	layout: expand;
}

.input:hover {
	margin: 0;
	background-color: yellow;
	border-color: black;
}

info {
	margin: 1;
	font-color: gray;
	layout: right;
}

/*************   MENU BAR     *************/

menubar {
	margin: 0;
	padding-top: 3;
	padding: 2;
	/*menubar-color: bgColor;*/
	font-color: translucentFontColor;
	background {
		type: vertical-gradient;
		top-color: bgColor;
		bottom-color: brightBgColor;
		start: 10%;
		end: 100%;
	}
}

/**
 * Commands within the menubar on the left side
 */
leftcommand {
	margin: 0;
    //#if polish.key.MiddleSoftKey:defined or polish.MenuBar.useMiddleCommand
    	/* the middle command is used, so lower the left and right commands relatively */
		padding-top: 7;
	//#endif
	padding-bottom: 0;
	font-color: translucentFontColor;
	font-style: bold;
	font-size: small;
}

/**
 * Commands within the menubar on the right side
 */
rightcommand extends leftcommand
{
	layout: right;
}

middlecommand extends leftcommand {
	layout: center;
	padding-top: 1;
	font-color: translucentFontColor;
	font-style: bold;
}



/**
  * the menu style is a predefined style for
  * designing the fullscreen-menu.
  * The font-settings (font-color,
  * font-face, font-style and font-size)
  * are used to design the menu-texts
  * (like Options, Select, or Cancel).
  * With the focused-style attribute
  * another style than the default "focused"
  * style is used for the menu. 
  */
menu {
	margin-left: 2;
	padding: 2;
	background {
		type: round-rect;
		color: brightBgColor;
		border-width: 2;
		border-color: translucentBgColor;
	}
	font-color: translucentFontColor;
	font-style: bold;
	view-type: slide-up;
}



/**
  * The menuItem style is a predefined style
  * for the actual commands in a fullscreen-menu.
  * When the menuItem style is not defined,
  * the menu style will be used instead. 
  */
menuItem {
	margin-top: 2;
	padding: 2;
	padding-left: 5;
	font {
		color: translucentFontColor;
		size: medium;
		style: bold;
	}
	layout: left;
	/*
	label-style: menuLabel;
	*/
}

/**
  * A focused menuItem
  */
menuItem:hover {
	background-color: bgColor;
	font-color: translucentFontColor;
	layout: left | horizontal-expand;
	/*
	label-style: menuLabelFocused;
	include-label: true;
	*/
}

/*
.menuLabel {
	padding: 3;
	font-color: fontColor;
	font-style: bold;
}

.menuLabelFocused {
	padding: 2;
	font-color: brightFontColor;
	font-style: bold;
	border {
		type: circle;
		width: 1;
		color: brightFontColor;
	}
}

*/

.choiceGroup {
	label-style: choiceGroupLabel;
	background-type: round-rect;
	background-color: darkTranslucentBgColor;
	include-label: true;
	layout: expand;
	align-heights: true;
	view-type: horizontal-choice;
	/*horizontalview-arrow-position: none;
	horizontalview-left-arrow: url( arrow-left.png );
	horizontalview-right-arrow: url( arrow-right.png );
	*/
}

.choiceGroup:hover {
	background-color: translucentBgColor;
}

.choiceItem {
	font-color: gray;
	font-style: bold;
	text-wrap: false;
	font-size: medium;
}

.choiceItem:hover {
	font-color: black;
	font-size: medium;
}

.choiceItem:pressed {
	background-color: darkTranslucentBgColor;
	font-color: translucentBrightFontColor;
	font-size: medium;
}

.choiceItemChecked {
	background-type: round-rect;
	background-color: darkTranslucentBgColor;
	font-color: translucentBrightFontColor;
	font-size: medium;
}

.choiceGroupLabel {
	font-style: plain;
	font-size: small;
	layout: newline-after;
}

.filterCards {
	padding: 3;
	padding-left: 5;
	padding-vertical: 1;
	include-label: true;
	layout: left | expand;
	/** style of the filter-textfield of a FilteredList/FilteredChoiceGroup */
	filter-style: filterTextFieldStyle;
	/** style of the popup screen for a FileredChoiceGroup */
	popup-style: filterPopupStyle;
	background {
		type: round-rect;
		color: darkTranslucentBgColor;
	}
}

.filterCards:hover {
	/*padding: 3;
	padding-left: 5;*/
	background-color: translucentBgColor;
	layout: left | expand;	
}

.filterTextFieldStyle {
	margin-left: 2;
	margin-right: 2;
	/*before: url( search.png );*/
	background {
		color: bgColor;
		border-color: black;
	}
	layout: expand | left;
}

.filterPopupStyle {
	repaint-previous-screen: true;
	margin: 10;
	margin-bottom: 0;
	padding: 5;
	background-color: bgColor;
}


.defaultTable {
	padding: 0;
	padding-vertical: 0;
	padding-horizontal: 6;
	font-color: translucentFontColor;
	font-size: small;
	table-selected-background: tableSelection;
	background {
		type: round-rect;
		color: brightBgColor;
	}
	layout: center | vshrink;
}

.defaultTable:hover {
	padding: 0;
	padding-vertical: 0;
	padding-horizontal: 6;
	border {
		type: round-rect;
		width: 2;
		color: #333;
	}
	background {
		color: bgColor;
	}
}

.tableHeading {
	font-color: translucentFontColor;
	font-style: bold;
	font-size: small;
	/*content-y-adjust: -1px;
	max-height: 7px;*/
}
.tableHeading:hover {
	font-color: translucentFontColor;
	font-style: bold;
	font-size: small;
	background {
		color: bgColor;
	}
}
.tableCell {
	font-color: translucentFontColor;
	font-style: plain;
	font-size: small;
	/*content-y-adjust: -1px;
	max-height: 6px;*/
}

.tableCell:hover {
	font-color: translucentFontColor;
	font-style: plain;
	font-size: small;
	background {
		color: evenBrightColor;
	}
}


.tableCellCentered extends tableCell {
	layout: center;
}


.tableBoolean {
	padding: 2px;
	include-label: true;
	background {
		type: round-rect;
		color: silver;
	}
}
