colors {
	darkBackgroundColor:  				rgb(0,10,25);
	brightBackgroundColor:  			rgb(0,25,50);
	veryBrightBackgroundColor:  		rgb(100,125,150);
	selectionBackgroundColor: 			rgb(10,45,65);
	eevenBrightColor: 					rgb(40,70,95);
	borderSelectedColor:  				argb(100, 145,175,247);
	
	titleFontColor: 					rgb(175,210,247);
	fontColor: 							rgb( 76, 95,160);
	selectedFontColor:  				argb(130, 165,190,247);
}
/*
colors {
	darkBackgroundColor:  				rgb(5,5,5);
	brightBackgroundColor:  			rgb(30,30,30);
	veryBrightBackgroundColor:  		rgb(110,110,110);
	selectionBackgroundColor: 			rgb(50,50,50);
	eevenBrightColor: 					rgb(80,80,80);
	borderSelectedColor:  				argb(130, 190,190,190);
	
	titleFontColor: 					rgb(205,205,205);
	fontColor: 							rgb(100,100,100);
	selectedFontColor:  				argb(130, 205,205,205);
}*/

backgrounds {
	titleGradient {
		type: vertical-gradient;
		top-color: brightBackgroundColor;
		bottom-color: darkBackgroundColor;
	}
	alertTop {
		type: round-rect;
		color: borderSelectedColor;
	}
	alertBg {
		type: round-rect;
		color: veryBrightBackgroundColor;
	}
	alertOverlay {
		color: fontColor;
	}
	selectedPlainBg {
		color: selectionBackgroundColor;
	}
	selectedBg {
		type: round-rect;
		arc: 8;
		color: brightBackgroundColor;
		border-color: veryBrightBackgroundColor;
		border-width: 2;
	}
	selectedSmallArcBg {
		type: round-rect;
		arc: 3;
		color: eevenBrightColor;
		border-color: eevenBrightColor;
		border-width: 0;
	}
}

/**
  * The title style is a predefined style which is used
  * for all screen-titles.
  */
title {
	max-width: 0%;
	padding: 3;
	font {
		face: proportional;
		size: medium;
		style: bold;
		color: titleFontColor;
	}
	border: none;
	layout: horizontal-center | horizontal-expand;
	background: titleGradient;
}

.behindTitle extends title {
	min-width: 0%;
	max-width: 100%;
	layout: center;
}


label {
	background {
		color: brightBackgroundColor;
	}
	font {
		style: bold;
		color: fontColor;
		size: small;
	}
	layout: center | expand;
	checkbox-plain: url( ch0.png );
	checkbox-selected: url( ch1.png );
	radiobox-plain: url( ra0.png );
	radiobox-selected: url( ra1.png );
}

@media touchscreen {
	label {	
		font-size: medium;
	}
}

.labelCard extends label {
	layout: expand | left;
}
.labelCard:hover extends focused {
	padding: 2;
	background: selectedBg;
	font {
		style: bold;
		color: selectedFontColor;
		size: small;
	}
	layout: expand | left;
}

/**
  * The focused style is a predefined style which
  * is used by lists, forms, choice-groups and so on.
  * This style will be used for highlighting the currently
  * focused item.
  */
focused {
	padding: 2;
	background: selectedBg;
	font {
		style: bold;
		color: selectedFontColor;
		size: small;
	}
	layout: expand | center;
}
@media touchscreen {
	focused {	
		font-size: medium;
	}
}

.mainScreen {
	title-menu: true;
	padding: 2;
	padding-left: 10;
	padding-right: 10;
	layout: horizontal-expand | horizontal-center | vertical-center;
	font-color: selectedFontColor;
	background {
		type: vertical-gradient;
		top-color: brightBackgroundColor;
		bottom-color: darkBackgroundColor;
	}
}
.mainScreen:landscape {}

.mainScreenSet extends mainScreen {
	layout: horizontal-expand | horizontal-center | top;
}

.behindScreen extends mainScreen {
	title-menu: false;
	title-style: behindTitle;
}
.behindScreen:landscape {}

.mainPopupScreen {
	repaint-previous-screen: true;
	padding: 2;
	padding-left: 10;
	padding-right: 10;
	font-color: selectedFontColor;
	background {
		type: vertical-gradient;
		top-color: brightBackgroundColor;
		bottom-color: darkBackgroundColor;
	}
	//#if polish.android
		layout: top | vertical-shrink;
	//#else
		layout: bottom | vertical-shrink;
	//#endif
}
.mainPopupScreen:landscape {}

listItem {
	font {
		style: bold;
		color: fontColor;
		size: small;
	}
	layout: expand | center;
}
@media touchscreen {
	listItem {	
		font-size: medium;
	}
}

/**
  * The .mainCommand style is also a static style, which
  * is set in the MIDlet source-code with the //#style directive.
  * If the source-code would not have defined this
  * style, we could use the dynamic style "listitem" to design all
  * items on the list-screens. 
  */
.mainCommand {
	padding: 0;
	padding-vertical: 8;
	layout: center | vertical-center | newline-after;
	min-height: 30%;
	font-size: small;
	font-color: fontColor;
}
@media touchscreen {
	.mainCommand {
		font-size: medium;
	}
}

alertcontent {
	font-color: fontColor;
	font-size: small;
	font-style: bold;
	text-effect: shadow;
}
@media touchscreen {
	alertcontent {	
		font-size: medium;
	}
}

.messageAlertTitle {
	padding-top: 20px;
	font-color: fontColor;
	font-style: bold;
	font-size: normal;
}

.messageAlertMenuBar {
	background-color: fontColor;
}

.messageAlert {
	padding: 20px;
	padding-top: 1px;
	view-type: none;
	layout: horizontal-shrink | vertical-shrink | horizontal-center | vertical-center;
	background {
		type: layer;
		layers: alertTop, alertBg;
		margins: 10px, 0px;
	}
	repaint-previous-screen: true;
	overlay-background: alertOverlay;
	title-style: messageAlertTitle;
	menubar-style: messageAlertMenuBar;
}
.messageAlert:landscape {}

info {
	margin: 1;
	font-color: fontColor;
	layout: left;
}

/**
 *
 * Choicegroup on optionfrom
 *
 */
.horizontalChoice {
	label-style: choiceGroupLabel;
	background-type: round-rect;
	background-color: borderSelectedColor;
	include-label: true;
	layout: expand;
	view-type: horizontal-choice;
	horizontalview-left-arrow: url( arrow-left.png );
	horizontalview-right-arrow: url( arrow-right.png );
}
.horizontalChoice:hover {
	background-color: borderSelectedColor;
}

.choiceItem {
	font-color: fontColor;
	text-wrap: false;
}

.choiceItem:hover {
	font-color: fontColor;
	font-style: bold;
}

.choiceGroupLabel {
	font-style: italic;
	font-size: small;
	layout: newline-after;
}


/*************   MENU BAR     *************/

menubar {
	margin: 0;
	padding-top: 3;
	padding: 2;
	/*menubar-color: darkBackgroundColor;*/
	font-color: selectedFontColor;
	background {
		type: vertical-gradient;
		top-color: darkBackgroundColor;
		bottom-color: brightBackgroundColor;
		start: 10%;
		end: 100%;
	}
}

/**
 * Commands within the menubar on the left side
 */
leftcommand {
	margin: 0;
	min-width: 40%; /* 40% of 50% maximum width results in 20% of screen width */
	max-width: 80%;
    //#if polish.key.MiddleSoftKey:defined or polish.MenuBar.useMiddleCommand
    	/* the middle command is used, so lower the left and right commands relatively */
		padding-top: 7;
	//#endif
	padding-bottom: 0;
	font-color: selectedFontColor;
	font-style: plain;
	font-size: small;
}
rightcommand extends leftcommand {
	layout: right;
}
middlecommand extends leftcommand {
	layout: center;
	padding-top: 1;
	font-style: bold;
}

@media touchscreen {
	leftcommand {
		padding-top: 2px;
		padding-bottom: 2px;
		font-size: medium;
	}
	rightcommand {
		padding-top: 2px;
		padding-bottom: 2px;
		font-size: medium;
	}
	middlecommand {
		padding-top: 2px;
		padding-bottom: 2px;
		font-size: medium;
	}
}

/**
  * the menu style is a predefined style for
  * designing the fullscreen-menu.
  * The font-settings (font-color,
  * font-face, font-style and font-size)
  * are used to design the menu-texts
  * (like Options, Select, or Cancel).
  * With the focused-style attribute
  * another style than the default "focused"
  * style is used for the menu. 
  */
menu {
	margin: 5;
	margin-left: 2;
	padding: 2;
	background: selectedBg;
	font {
		color: selectedFontColor;
		style: bold;
		size: small;
	}
	view-type: none;
	layout: horizontal-shrink;
}
@media touchscreen {
	menu {
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: medium;
	}
}

/**
  * The menuItem style is a predefined style
  * for the actual commands in a fullscreen-menu.
  * When the menuItem style is not defined,
  * the menu style will be used instead. 
  */
menuItem {
	margin-top: 2;
	padding: 2;
	padding-left: 5;
	font {
		color: selectedFontColor;
		size: small;
		style: bold;
	}
	layout: left;
}

menuItem:hover {
	background: selectedSmallArcBg;
	font-color: selectedFontColor;
	layout: left | horizontal-expand;
}
@media touchscreen {
	menuItem {
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: medium;
	}
	menuItem:hover {
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: medium;
		background: selectedSmallArcBg;
		font-color: selectedFontColor;
		layout: left | horizontal-expand;
	}
}

.inputTextField {
	padding: 5;
	font-color: selectedFontColor;
	background-color: darkBackgroundColor;
	layout: horizontal-shrink | center;
}

.defaultTable {
	margin: 0;
	min-width: 98%;
	max-width: 98%;
	padding: 0;
	columns: 3;
	columns-width: equal;
	font-color: selectedFontColor;
	font-size: small;
	table-selected-background: selectedPlainBg;
	table-line-color: selectedFontColor;
	table-line-stroke: solid;
	background: selectedBg;
	view-type-sequential-traversal: true;
	layout: center | expand;
}

@media touchscreen {
	.defaultTable {	
		font-size: medium;
	}
}

.tableHeading {
	margin: 0px;
	padding: 0px;
	font-color: selectedFontColor;
	font-style: bold;
	font-size: small;
}

.tableHeading:hover {}

.tableCell extends tableHeading {
	margin: 0;
	padding: 0;
	font-style: plain;
	font-size: small;
	layout: center;
}

.tableCell:hover {
	background: selectedPlainBg;
	font-size: small;
}

messageheadline {
	min-width: 31%;
	font-color: selectedFontColor;
	font-style: bold;
	font-size: normal;
	layout: center;
}

messagetext {
	font-color: selectedFontColor;
	font-size: small;
	layout: center;
}

@media touchscreen {
	.tableHeading {
		padding-top: 4px;
		padding-bottom: 4px;
		font-style: bold;
		font-size: medium;
	}
	.tableCell {
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: medium;
	}
}

/**************
 *
 * Tabbed pane 
 *
 **************/
.tabbedPane {
	title-menu: true;
	ticker-position: top;
	/* nyt 
	title-position: bottom;
	*/
}

.tabbedPaneIcons {
	view-type: horizontal;
	view-type-sequential-traversal: true;
	background {
		type: vertical-gradient;
		top-color: darkBackgroundColor;
		bottom-color: brightBackgroundColor;
	}
	border {
		top-width: 1;
		color: borderSelectedColor;
	}
	layout: expand;
	ticker-position: bottom;
}

.tabIcon {
	margin: 1px;
	padding: 2px;
	max-width: 33.3%;
	min-width: 10%;
	layout: expand | center | vertical-center;
	font-size: small;
	font-color: fontColor;
}
@media touchscreen {
	.tabIcon {
		margin: 1px;
		padding: 2px;
		max-width: 33.3%;
		min-width: 10%;
		layout: expand | center | vertical-center;
		font-size: small;
		font-color: fontColor;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: medium;
	}
}

.tabIcon:hover {
	padding: 1px;
	background {
		type: round-rect;
		arc: 8;
		color: selectionBackgroundColor;
	}
	border {
		type: round-rect;
		arc: 8;
		color: borderSelectedColor;
	}
	font-color: titleFontColor;
}
@media touchscreen {
	.tabIcon:hover {
		padding: 1px;
		background {
			type: round-rect;
			arc: 8;
			color: selectionBackgroundColor;
		}
		border {
			type: round-rect;
			arc: 8;
			color: borderSelectedColor;
		}
		font-color: titleFontColor;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: medium;
	}
}

.tabIconSet extends tabIcon {
	max-width: 15%;
}

.tabIconSet:hover {
	padding: 1px;
	max-width: 21%;
	background {
		type: round-rect;
		arc: 8;
		color: selectionBackgroundColor;
	}
	border {
		type: round-rect;
		arc: 8;
		color: borderSelectedColor;
	}
	font-color: titleFontColor;
	
}
@media touchscreen {
	.tabIconSet:hover {
		padding: 1px;
		max-width: 20%;
		background {
			type: round-rect;
			arc: 8;
			color: selectionBackgroundColor;
		}
		border {
			type: round-rect;
			arc: 8;
			color: borderSelectedColor;
		}
		font-color: titleFontColor;
		padding-top: 4px;
		padding-bottom: 4px;
		font-size: medium;
	}
}
/**
 * Blackmarket ticker
 */
.mainTicker {
	ticker-position: bottom;
	ticker-step: 4;
	ticker-direction: left;
	padding-horizontal: 5;
	layout: vertical-center;
	font-color: selectedFontColor;
	font-size: small;
	text-effect: shadow;
	text-shadow-color: selectedFontColor;
}
@media touchscreen {
	.mainTicker {
		font-size: medium;
	}
}


/**
 * The Gauge
 */
.loadForm extends mainPopupScreen {
	repaint-previous-screen: false;
	title-menu: false;
	padding-left: 5;
	padding-right: 5;
	font-size: large;
	layout: horizontal-center | vertical-center | vertical-shrink;
}
.inputGaugeForm extends loadForm {
	repaint-previous-screen: true;
}

.loadingGauge {
	gauge-background-color: darkBackgroundColor;
	gauge-animation-mode: leftright;
	gauge-gap-color: veryBrightBackgroundColor;
	gauge-color: eevenBrightColor;
	background-anchor: h-center | v-center;
	background: selectedBg;
	border {
		type: drop-shadow;
		inner-color: brightBackgroundColor;
		outer-color: eevenBrightColor;
		width: 5;
		orientation: all;
	}
	label-style: labelLoadingGauge;
	layout: horizontal-center | horizontal-expand;
}
@media touchscreen {
	.mainTicker {
		font-size: medium;
	}
}
.labelLoadingGauge extends label {
	font-size: large;
}
.inputGauge extends loadingGauge {
	label-style: labelGauge;
}

.labelGauge extends label {
	font-size: medium;
}
.keyMode {}


.pieChart {
	background: selectedBg;
	padding: 3;
	view-type: chart-pie;
}
